*{
    font-family: Arial;
}

body{
    margin: 0;
    background-color: #e7e7e7;
}

#overlay {
    width: 100%;
    height: 100%;
    position: fixed;
}

form{
    max-width: 550px;
    width: 90%;
    background-color: rgb(255, 255, 255);
    margin: 17vh auto 0 auto;
    padding: 40px;
    border-radius: 10px;
    border: 2px solid rgb(165, 164, 164);
    box-sizing: border-box;
}


h1{
    margin: 0;
    text-align: center;
}

label{
    display: block;
    margin: 20px 0;
}

input, textarea{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 1px solid #D3D3D3;
}

input[type="text"]:focus, textarea:focus{
    border-bottom: 1px solid rgb(255,0,106);
}

textarea::-webkit-scrollbar{
    width: 4px;
}

textarea::-webkit-scrollbar-thumb{
    background-color: rgb(255,0,106);
}

.centre{
    text-align: center;
}

input[type="submit"]{
    margin-top: 5px;
    margin-left: 35%;
    width: 120px;
    max-width: 200px;
    background: linear-gradient(to right, rgb(255,0,106), rgb(255,67,61));
    color: white;
    font-size: 17px;
    cursor: pointer;
    border-radius: 3px;

}

.error{
    color: red;

}

.error-border{
    border-bottom: 1px solid red;
}

#success{
    color: #28a745;
}

.container {
    width: 1%; /* Adjust width as needed */
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0; /* Background color of the card */
    border: 1px solid #ccc; /* Border color */
    border-radius: 8px; /* Border radius for rounded corners */
}
/* Custom checkbox style */
.custom-checkbox {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding-left: 25px;
    margin-right: 20px;
    font-size: 16px;
}
.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: transparent; /* Transparent background */
    border: 2px solid pink; /* Pink border */
    border-radius: 7px;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.custom-checkbox input:checked ~ .checkmark:after {
    display: block;
}
.custom-checkbox .checkmark:after {
    left: 5px;
    top: 1.1px;
    width: 2.5px;
    height: 10px;
    border: solid rgb(255,0,106);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}



